.addToCart{
   margin-right: 20px;
}
.card{
   border: 1px solid red !important;
   border-radius: 20px !important;
   color: red !important;
}
.card-img-top{
   padding: 10px;
   border-radius: 20px !important;
}
.btn{
   background-color: red !important;
   border: 1px solid red !important;
   color: white !important;
   border-radius: 15px !important;
}